body {
  font: 12pt/15pt sans-serif;
  margin: 20px 0;
  background: #FDFDF0;
}

ul {
  padding-left: 0px;
}

ul li {
  padding: 0.25em 0;
  list-style-type: none;
}

.list-unstyled li {
  padding: 0.2em 0;
}

.spacing a {
  padding: 0 2px;
}

.container, .row {
  max-width: 900px;
  margin: 0 auto;
}

#header-right {
  margin-top: 20px;
}

#photo {
  margin: 20px auto;
}

@media (max-width: 767px) {
  #photo {
    margin: 20px;
  }
}

.img-logo {
  height: 16px;
  margin-right: 5px;
}

.acm-logo {
  width: 20px;
  margin-right: 5px;
}
