html { 
  background: #FDFDF0;
  /* #FDFCDC; */
}
body {
  font: 12pt/15pt sans-serif;
}
/*p, ul, dl, ol { font-family: Verdana, sans-serif }
h1, h2, h3, h4 { font-family: Arial, Verdana, sans-serif }
*/
a {
  text-decoration: none;
}
a:hover { 
  background: #DBFDFF;
  /*border-bottom: 1px solid #080;*/
}

/*
a:link { 
  color: #1626BA;
  border-bottom: 1px dotted  #080;
}
a:visited { 
  color: #A62323;
  border-bottom: 1px dotted  #040;
}
a:visited:hover { 
  color: #040;
  border-bottom: 1px solid  #040;
}
*/
/* a:link, a:visited, a:hover, a:active */



#wholePage {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}

.progsysAcronym b {
  font-weight: inherit;
  color: blue;
  background: inherit;
  text-transform: uppercase;
}

code { 
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.citation { 
  display: block;
  margin-left: 2em;
}

#masthead { 

}

#masthead #logo { 
  float: right;
  padding-top: 34px;
}
#masthead #mascot { 
  float: left;
  width: 174px;
  height: 158px;
  padding-bottom: 20px;
}
#masthead div { 
  padding: 34px 0 0 194px;
}

h1 { 
  margin-top: 0;
  font-size: 30pt;
}


h3 { /* HACK */
  clear: both 
}

#nav {
  clear: both;
}

h1 { clear: both }
#masthead h1 { clear: none }

#nav a {
  font-family: Arial, sans-serif;
}

#nav ul { 
  display: inline;
  margin: 0;
  padding: 0;
  font-size: smaller;
}


#nav ul li {
  display: inline;
  margin: 0 0.25em;
}

#members li {
  float: left;
  list-style: none;
  margin-right: 1em;
}
#members li span {
  font-style: italic;
  font-weight: bold;
}

#members li ul {
  margin: 0.5em 0;
  padding: 0;
}

#members li li {
  float: none;
}

dl {
  position: relative;
  margin-left: 2em;
  margin-right: 0em;
}

dt { 
  position: absolute;
}

dd {
  margin: 0;
  padding-left: 10em;
  padding-bottom: 0.5em;
}

li {
  padding-bottom: 0.5em;
}

